In [3]:
# Import the MySQL connector library to interact with the MySQL database
import mysql.connector

# Function to create a new database
def create_database():
    try:
        # Establish a connection to the MySQL server without specifying a database
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="1234567890"
        )
        cursor = conn.cursor()
        # Drop the database if it already exists to start fresh
        cursor.execute("DROP DATABASE IF EXISTS crime_data_db")
        # Create a new database named 'crime_data_db'
        cursor.execute("CREATE DATABASE crime_data_db")
        print("Database created successfully........")
    except mysql.connector.Error as err:
        # Print any errors that occur during the process
        print(f"Error: {err}")
    finally:
        # Ensure the connection is closed properly
        if conn.is_connected():
            cursor.close()
            conn.close()

# Function to create a table within the database
def create_table():
    try:
        # Establish a connection to the MySQL server and specify the database to use
        conn = mysql.connector.connect(
            host="localhost",
            database="crime_data_db",
            user="root",
            password="1234567890"
        )
        cursor = conn.cursor()
        # Execute the SQL command to create a table named 'crime_data'
        cursor.execute('''
            CREATE TABLE crime_data (
                incident_date DATE,          -- Column for the date of the incident
                state VARCHAR(100),          -- Column for the state where the incident occurred
                city VARCHAR(100),           -- Column for the city where the incident occurred
                address VARCHAR(255),        -- Column for the address of the incident
                victims_killed INT,          -- Column for the number of victims killed
                victims_injured INT,         -- Column for the number of victims injured
                suspects_killed INT,         -- Column for the number of suspects killed
                suspects_injured INT,        -- Column for the number of suspects injured
                suspects_arrested INT        -- Column for the number of suspects arrested
            )
        ''')
        # Commit the changes to the database
        conn.commit()
        print("Table created successfully........")
    except mysql.connector.Error as err:
        # Print any errors that occur during the process
        print(f"Error: {err}")
    finally:
        # Ensure the connection is closed properly
        if conn.is_connected():
            cursor.close()
            conn.close()

# Call the functions to create the database and the table
create_database()
create_table()

Database created successfully........
Table created successfully........

In [4]:
# Import necessary libraries
from selenium import webdriver
from bs4 import BeautifulSoup
from datetime import datetime
import mysql.connector
import time

# Function to create and return a connection to the MySQL database
def get_db_connection():
    conn = mysql.connector.connect(
        host="localhost",  # Database host
        database="crime_data_db",  # Database name
        user="root",  # Database user
        password="1234567890"  # Database password
    )
    return conn

# Function to configure and return a Selenium WebDriver for Chrome
def get_driver():
    options = webdriver.ChromeOptions()
    options.add_argument('--headless')  # Run Chrome in headless mode
    driver = webdriver.Chrome(options=options)
    return driver

# Function to navigate to a URL using Selenium and return the page's BeautifulSoup object
def scrape_data(driver, base_url):
    driver.get(base_url)
    time.sleep(5)  # Wait for the dynamic content to load
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    return soup

# Function to parse data from a BeautifulSoup object and insert it into the MySQL database
def parse_and_insert_data(soup, conn):
    cursor = conn.cursor()  # Create a cursor object using the connection
    data = []  # Initialize a list to store the data records
    table = soup.find('table', class_='sticky-enabled')  # Find the table with class 'sticky-enabled'
    if table:
        rows = table.find('tbody').find_all('tr')  # Find all rows in the table body
        for row in rows:
            cols = row.find_all('td')  # Find all columns in the row
            if cols:
                try:
                    # Convert the incident date from string to a datetime object and then format it for MySQL
                    date_str = cols[1].text.strip()
                    formatted_date = datetime.strptime(date_str, '%B %d, %Y').strftime('%Y-%m-%d')
                    # Prepare the record for insertion
                    record = (
                        formatted_date,
                        cols[2].text.strip(),  # State
                        cols[3].text.strip(),  # City or County
                        cols[4].text.strip(),  # Address
                        int(cols[5].text.strip()),  # Victims Killed
                        int(cols[6].text.strip()),  # Victims Injured
                        int(cols[7].text.strip()),  # Suspects Killed
                        int(cols[8].text.strip()),  # Suspects Injured
                        int(cols[9].text.strip()),  # Suspects Arrested
                    )
                    data.append(record)  # Add the record to the data list
                    # SQL query to insert the record into the database
                    query = '''INSERT INTO crime_data
                               (incident_date, state, city, address, victims_killed, victims_injured, suspects_killed, suspects_injured, suspects_arrested)
                               VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)'''
                    cursor.execute(query, record)  # Execute the query with the record data
                    conn.commit()  # Commit the transaction
                    print("Inserted data:", record)  # Print the inserted data for verification
                except Exception as e:
                    print(f"Error inserting data: {e}")  # Print any error during insertion
    else:
        print("Table not found.")  # Print a message if the table isn't found
    cursor.close()  # Close the cursor

# Main function to orchestrate the scraping and insertion process
def main():
    driver = get_driver()  # Get a Selenium WebDriver
    conn = get_db_connection()  # Get a database connection
    for year in range(2014, 2024):  # Iterate through the years of interest
        page = 0  # Initialize page counter
        has_next_page = True  # Flag to control pagination
        while has_next_page:  # While there are more pages to scrape
            # Construct the URL based on the year and page
            if year <= 2015:
                url = f"https://www.gunviolencearchive.org/reports/mass-shootings/{year}?page={page}"
            else:
                url = f"https://www.gunviolencearchive.org/reports/mass-shooting?year={year}&page={page}"
            print(f"Scraping data for {year}, page {page}")  # Print the current scraping action
            soup = scrape_data(driver, url)  # Scrape the page
            parse_and_insert_data(soup, conn)  # Parse the scraped data and insert it into the database
            next_page_link = soup.find('a', title="Go to next page")  # Find the link to the next page
            has_next_page = bool(next_page_link)  # Update the flag based on the presence of the next page link
            page += 1  # Increment the page counter
    driver.quit()  # Quit the WebDriver
    conn.close()  # Close the database connection
    print("Data scraping and insertion completed.")  # Print completion message

if __name__ == "__main__":
    main()  # Execute the main function

Scraping data for 2014, page 0
Inserted data: ('2014-12-29', 'Louisiana', 'New Orleans', 'Poydras and Bolivar', 0, 4, 0, 0, 0)
Inserted data: ('2014-12-27', 'California', 'Los Angeles', '8800 block of South Figueroa Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-12-27', 'California', 'Sacramento', '4000 block of May Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-12-26', 'Illinois', 'East St. Louis', '2500 block of Summit Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-12-24', 'Missouri', 'Saint Louis', '18th and Pine', 1, 3, 0, 0, 0)
Inserted data: ('2014-12-23', 'Kentucky', 'Winchester', '260 Oxford Dr', 1, 3, 0, 0, 2)
Inserted data: ('2014-12-22', 'Michigan', 'Detroit', 'Charlevoix and Philip', 1, 3, 0, 0, 0)
Inserted data: ('2014-12-22', 'New York', 'Webster', '191 Lake Rd', 3, 2, 1, 0, 0)
Inserted data: ('2014-12-22', 'Illinois', 'Chicago', '5700 block of South Green Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-12-21', 'Florida', 'Sarasota', '4034 N Washington Blvd', 2, 2, 0, 0, 0)
Inserted data: ('2014-12-21', 'Mississippi', 'Waynesboro', 'Central Avenue', 1, 4, 0, 0, 2)
Inserted data: ('2014-12-21', 'Illinois', 'Calumet City', '600 block of Escanba', 1, 8, 0, 0, 0)
Inserted data: ('2014-12-20', 'Illinois', 'Rockford', '3200 block of Montrose Avenue', 4, 0, 0, 0, 1)
Inserted data: ('2014-12-16', 'New Jersey', 'Elizabeth', 'Anna Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-12-15', 'Pennsylvania', 'Lansdale', '100 block of West 5th St', 6, 0, 1, 0, 0)
Inserted data: ('2014-12-14', 'Florida', 'Miami', '1311 Northwest 2nd Avenue', 1, 4, 0, 0, 0)
Inserted data: ('2014-12-13', 'Florida', 'Tampa', '810 E. Skagway Ave.', 0, 5, 0, 0, 0)
Inserted data: ('2014-12-12', 'Oregon', 'Portland', '717 North Killingsworth Court', 0, 4, 0, 0, 3)
Inserted data: ('2014-12-07', 'Indiana', 'South Bend', '16000 block of Roosevelt Road', 0, 4, 0, 0, 0)
Inserted data: ('2014-12-02', 'Missouri', 'Saint Louis', '6000 block of Virginia Avenue', 1, 3, 0, 2, 0)
Inserted data: ('2014-12-02', 'Virginia', 'Newport News', '6128 Jefferson Ave', 0, 5, 0, 0, 0)
Inserted data: ('2014-11-30', 'Tennessee', 'Chattanooga', '2412 East 13th Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-11-30', 'New York', 'Brooklyn', '375 Remsen Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-11-29', 'Georgia', 'Atlanta', '1600 block of Richmond Avenue', 3, 2, 0, 0, 0)
Inserted data: ('2014-11-29', 'New Jersey', 'Newark', '348 S Orange Ave', 1, 3, 0, 0, 0)
Scraping data for 2014, page 1
Inserted data: ('2014-11-28', 'Tennessee', 'Memphis', '1849 East Brooks Road', 0, 4, 0, 0, 0)
Inserted data: ('2014-11-27', 'Texas', 'Georgetown', 'Pvt Rd 934', 2, 3, 0, 0, 0)
Inserted data: ('2014-11-26', 'California', 'San Francisco', 'Mission and 13th streets', 0, 6, 0, 0, 0)
Inserted data: ('2014-11-23', 'Virginia', 'Parksley', 'Parksley Road', 0, 4, 0, 0, 0)
Inserted data: ('2014-11-23', 'Colorado', 'Denver', 'Federal Boulevard and 16th Avenue', 1, 4, 0, 0, 0)
Inserted data: ('2014-11-22', 'Ohio', 'Cleveland', '1443 E 92nd St', 4, 1, 0, 0, 1)
Inserted data: ('2014-11-22', 'South Dakota', 'Sisseton', 'Fourth Avenue', 3, 1, 1, 0, 0)
Inserted data: ('2014-11-22', 'Ohio', 'Springfield', 'Clifton Avenue and Rice Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-11-21', 'Pennsylvania', 'Pittsburgh', '600 block of Miller Avenue', 0, 6, 0, 0, 0)
Inserted data: ('2014-11-19', 'Illinois', 'Chicago', '700 block of North St. Louis Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-11-18', 'Nevada', 'North Las Vegas', 'Englestad Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-11-16', 'Ohio', 'Akron', '1891 E Market St', 1, 4, 0, 0, 1)
Inserted data: ('2014-11-16', 'Texas', 'El Paso', '115 S. Durango', 0, 5, 0, 1, 0)
Inserted data: ('2014-11-15', 'Missouri', 'Springfield', '2555 N. Glenstone', 4, 0, 0, 0, 1)
Inserted data: ('2014-11-15', 'Florida', 'Miami', 'NW 55th and 12th', 1, 3, 0, 0, 0)
Inserted data: ('2014-11-08', 'California', 'Pomona', '499 E. Arrow Highway', 0, 5, 0, 0, 0)
Inserted data: ('2014-11-07', 'California', 'Los Angeles', 'East 126th Street and North Compton Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-11-07', 'California', 'Compton', '136th Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-11-05', 'California', 'San Francisco', '1100 block of Alabama Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-10-29', 'Tennessee', 'Memphis', 'Yale Road and Ramill Road', 0, 5, 0, 0, 0)
Inserted data: ('2014-10-26', 'Kentucky', 'Cadiz', '1410 Old Dover Road', 4, 0, 0, 0, 1)
Inserted data: ('2014-10-24', 'Washington', 'Marysville', '5611 108th St NE', 4, 1, 1, 0, 0)
Inserted data: ('2014-10-18', 'New York', 'Queens', '33-02 Queens Blvd', 0, 4, 0, 0, 1)
Inserted data: ('2014-10-18', 'South Carolina', 'Graniteville', '192 Breezy Hill Road', 1, 3, 0, 0, 0)
Inserted data: ('2014-10-18', 'New York', 'Brooklyn', 'Lenox Road', 0, 4, 0, 0, 0)
Scraping data for 2014, page 2
Inserted data: ('2014-10-16', 'Michigan', 'Detroit', 'Mogul Street', 1, 3, 0, 0, 1)
Inserted data: ('2014-10-14', 'Georgia', 'Peachtree Corners', '6505 Bannor Lane', 2, 2, 1, 0, 0)
Inserted data: ('2014-10-13', 'Georgia', 'Atlanta', '85 Mount Zion Road', 0, 4, 0, 0, 0)
Inserted data: ('2014-10-12', 'Georgia', 'Atlanta', 'Arthur Langford Jr Place', 1, 3, 0, 0, 0)
Inserted data: ('2014-10-12', 'California', 'Stockton', '1100 block of East March Lane', 3, 1, 0, 0, 0)
Inserted data: ('2014-10-11', 'New York', 'Utica', '222 Bleecker Street', 0, 4, 0, 1, 1)
Inserted data: ('2014-10-08', 'Georgia', 'Atlanta', 'Auburn Avenue and Edgewood Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-10-08', 'New York', 'Guilderland', '1846 Western Ave', 4, 0, 0, 0, 0)
Inserted data: ('2014-10-05', 'Michigan', 'Detroit', 'East 7 Mile Road and Sherwood Street', 1, 5, 0, 0, 0)
Inserted data: ('2014-10-05', 'Florida', 'Jacksonville', '7300 block of Linda Drive', 3, 1, 0, 0, 0)
Inserted data: ('2014-10-04', 'Tennessee', 'Memphis', '1400 block of Gherald Street', 2, 2, 0, 0, 0)
Inserted data: ('2014-10-04', 'California', 'Pomona', '1925 West Holt Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-09-29', 'South Carolina', 'Walterboro', '29 Sandy Dam Lane', 1, 6, 0, 1, 2)
Inserted data: ('2014-09-29', 'California', 'Fresno', '2300 block of West Fountain Way', 0, 4, 0, 0, 0)
Inserted data: ('2014-09-28', 'Pennsylvania', 'Philadelphia', '2800 block of Hope Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-09-28', 'Florida', 'Miami', 'NW 7th Ave and NW 64th St', 0, 15, 0, 0, 0)
Inserted data: ('2014-09-27', 'Missouri', 'Saint Louis', '2000 block East John Avenue', 0, 5, 0, 0, 0)
Inserted data: ('2014-09-26', 'South Carolina', 'Florence', '650 Turner Rd', 1, 4, 0, 0, 2)
Inserted data: ('2014-09-21', 'Ohio', 'East Liverpool', '440 First St', 0, 4, 0, 0, 0)
Inserted data: ('2014-09-20', 'Mississippi', 'Batesville', '8297 Curtis Rd', 2, 2, 0, 0, 0)
Inserted data: ('2014-09-19', 'New York', 'Queens', '32-14 106th St', 0, 4, 0, 0, 0)
Inserted data: ('2014-09-18', 'Florida', 'Bell', '2550 NW 29th Terrace', 7, 0, 1, 0, 0)
Inserted data: ('2014-09-15', 'Louisiana', 'New Orleans', 'Chef Menteur Highway and Dale Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-09-14', 'Texas', 'Flour Bluff', '229 Naval Air Station Drive', 3, 1, 0, 0, 0)
Inserted data: ('2014-09-14', 'Texas', 'Corpus Christi', '229 NAS Dr', 3, 1, 0, 0, 1)
Scraping data for 2014, page 3
Inserted data: ('2014-09-14', 'Alaska', 'Anchorage', '225 E Fifth', 0, 6, 0, 0, 0)
Inserted data: ('2014-09-11', 'Michigan', 'Detroit', '14000 block of Patton', 1, 7, 0, 0, 0)
Inserted data: ('2014-09-06', 'Florida', 'Orlando', '2015 Orange Blossom Trail', 0, 4, 0, 0, 0)
Inserted data: ('2014-09-06', 'Georgia', 'Macon', '576 Poplar Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-09-04', 'Michigan', 'Flint', '2400 block of Martin Luther King Boulevard', 0, 5, 0, 0, 0)
Inserted data: ('2014-09-03', 'California', 'Los Angeles', 'East 27th and Stanford', 0, 6, 0, 0, 0)
Inserted data: ('2014-09-02', 'Mississippi', 'Jackson', '3622 Medgar Evers Boulevard', 2, 3, 0, 0, 0)
Inserted data: ('2014-09-02', 'California', 'Highland', '25000 block of Fifth Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-08-31', 'California', 'Livermore', '200 block of South Q Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-08-29', 'Florida', 'Brooksville', '820 Peach St', 3, 1, 0, 0, 0)
Inserted data: ('2014-08-27', 'Michigan', 'Detroit', '16600 block of Edmore', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-24', 'California', 'San Fernando', '1400 block of Celis Street', 4, 5, 0, 0, 1)
Inserted data: ('2014-08-24', 'Illinois', 'Chicago', '8300 block of South Halsted Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-24', 'Georgia', 'Augusta', '1013 Carrie Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-20', 'Tennessee', 'Memphis', '1400 block of Briarcrest Lane', 0, 5, 0, 0, 0)
Inserted data: ('2014-08-18', 'Louisiana', 'Saint Martinville', 'Main and Hyacinth streets', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-17', 'California', 'East Palo Alto', 'Purdue Street and Georgetown Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-17', 'Massachusetts', 'Boston', 'Edinboro Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-17', 'New York', 'Queens', '153-38 118th Ave', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-17', 'Nevada', 'Las Vegas', 'Owens Avenue and H Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-16', 'Utah', 'Salt Lake City', '122 Pierpont Avenue', 0, 6, 0, 0, 0)
Inserted data: ('2014-08-16', 'New Jersey', 'Plainfield', 'West 3rd Street and Monroe Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-14', 'Tennessee', 'Memphis', '797 Pope Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-13', 'Tennessee', 'Clarksville', 'Treeland Drive', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-13', 'Louisiana', 'New Orleans', 'New Orleans and North Rocheblave streets', 0, 4, 0, 0, 0)
Scraping data for 2014, page 4
Inserted data: ('2014-08-12', 'New York', 'Buffalo', 'Oakmont Ave', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-12', 'Georgia', 'Cartersville', 'Brent Cir', 1, 3, 1, 0, 0)
Inserted data: ('2014-08-10', 'Louisiana', 'New Orleans', '5400 block of Burgundy St', 2, 5, 0, 0, 2)
Inserted data: ('2014-08-10', 'District of Columbia', 'Washington', '50 block of N St SW', 0, 6, 0, 0, 0)
Inserted data: ('2014-08-10', 'Georgia', 'Wrightsville', '2455 Idylwild Dr', 0, 6, 0, 0, 0)
Inserted data: ('2014-08-10', 'California', 'Moreno Valley', '16300 block of Heather Glen Road', 0, 7, 0, 0, 0)
Inserted data: ('2014-08-09', 'Minnesota', 'Minneapolis', '400 3rd Ave N', 1, 8, 0, 0, 0)
Inserted data: ('2014-08-08', 'District of Columbia', 'Washington', '2nd St NE and Todd Pl NE', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-08', 'Wisconsin', 'Milwaukee', '3000 block of N. 28th Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-08-08', 'New Mexico', 'Albuquerque', '3426 Vassar NE', 1, 3, 0, 0, 0)
Inserted data: ('2014-08-06', 'California', 'Bakersfield', '1700 block of Quincy Street', 3, 1, 0, 0, 0)
Inserted data: ('2014-08-04', 'Georgia', 'Atlanta', '1100 block of Joseph E. Boone Boulevard NW', 0, 5, 0, 0, 0)
Inserted data: ('2014-08-03', 'Virginia', 'Culpeper', '14458 Rixeyville Rd', 5, 0, 0, 0, 0)
Inserted data: ('2014-08-03', 'Texas', 'Humble', '3403 FM 1960', 0, 7, 0, 0, 0)
Inserted data: ('2014-08-03', 'Missouri', 'Saint Louis', '5200 block of Thekla', 0, 5, 0, 0, 0)
Inserted data: ('2014-08-03', 'Tennessee', 'Columbia', 'East 9th Street and Bridge Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-08-02', 'Texas', 'Dallas', '5125 Wynell Street', 3, 1, 0, 0, 1)
Inserted data: ('2014-08-02', 'Pennsylvania', 'Pittsburgh', 'Penn Avenue and 29th Street', 1, 5, 0, 0, 0)
Inserted data: ('2014-08-02', 'Massachusetts', 'New Bedford', 'Acushnet Avenue', 0, 7, 0, 0, 0)
Inserted data: ('2014-08-01', 'Pennsylvania', 'Philadelphia', '1500 block of South Etting Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-07-30', 'North Carolina', 'Hope Mills', '5109 New Moon Dr', 2, 4, 1, 0, 0)
Inserted data: ('2014-07-28', 'Pennsylvania', 'Philadelphia', '4900 block of North Front Street', 1, 4, 0, 0, 0)
Inserted data: ('2014-07-27', 'Missouri', 'Saint Louis', '2000 block of East John Avenue', 0, 5, 0, 0, 0)
Inserted data: ('2014-07-26', 'Maine', 'Saco', '35 Water Street', 4, 0, 1, 0, 0)
Inserted data: ('2014-07-26', 'Arkansas', 'Pine Bluff', 'Third Ave and Redbud St', 1, 3, 0, 0, 0)
Scraping data for 2014, page 5
Inserted data: ('2014-07-26', 'Georgia', 'Sylvester', 'Royal Street', 0, 8, 0, 0, 0)
Inserted data: ('2014-07-25', 'Illinois', 'Chicago', '700 S California Ave', 1, 6, 0, 0, 3)
Inserted data: ('2014-07-23', 'Pennsylvania', 'Braddock', '700 block of Hickory St', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-21', 'Tennessee', 'Memphis', '300 block of Foote Park Lane', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-21', 'New Jersey', 'Irvington', '36 Welland Avenue', 0, 6, 0, 0, 0)
Inserted data: ('2014-07-20', 'Nevada', 'Las Vegas', '3400 block of N Rancho Dr', 1, 3, 0, 0, 0)
Inserted data: ('2014-07-20', 'Illinois', 'East Saint Louis', '5103 block of Bunkum Rd', 1, 3, 0, 0, 0)
Inserted data: ('2014-07-19', 'Illinois', 'Chicago', '1300 North Mason Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-13', 'District of Columbia', 'Washington', '1700 block of Lincoln Rd NE', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-13', 'California', 'Sacramento', '1972 Fulton Ave', 1, 4, 0, 0, 0)
Inserted data: ('2014-07-13', 'Washington', 'Skyway', '12600 Renton Avenue South', 0, 5, 0, 0, 0)
Inserted data: ('2014-07-13', 'Connecticut', 'Stamford', '84 West Park Place', 0, 5, 0, 0, 0)
Inserted data: ('2014-07-12', 'California', 'Pasadena', '1700 block of Summit Avenue', 3, 2, 0, 0, 0)
Inserted data: ('2014-07-11', 'Illinois', 'Chicago', '5200 West Quincy Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-07-09', 'Texas', 'Spring', '711 Leaflet Ln', 6, 1, 0, 0, 1)
Inserted data: ('2014-07-08', 'Rhode Island', 'Providence', '35 March Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-07-07', 'California', 'San Bernardino', '312 E Baseline Street', 1, 4, 0, 0, 0)
Inserted data: ('2014-07-07', 'Kentucky', 'Stopover', 'KY 194E', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-06', 'Florida', 'Miami', 'NW 20th Ave and NW 62nd St', 2, 2, 0, 0, 0)
Inserted data: ('2014-07-06', 'New York', 'Buffalo', '100 block of Erb Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-06', 'Missouri', 'Saint Louis', '4600 block of Natural Bridge Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-07-05', 'Oregon', 'Portland', '333 SE 122nd Ave', 1, 4, 0, 0, 1)
Inserted data: ('2014-07-05', 'Indiana', 'Indianapolis', 'Broad Ripple Avenue', 0, 7, 0, 0, 0)
Inserted data: ('2014-07-05', 'Virginia', 'Norfolk', '861 W. 36th Street', 0, 7, 0, 0, 0)
Inserted data: ('2014-07-05', 'Texas', 'Houston', '1700 Almeda-Genoa', 0, 6, 0, 0, 0)
Scraping data for 2014, page 6
Inserted data: ('2014-07-05', 'Illinois', 'Centreville', '4700 Piggott Avenue', 0, 5, 0, 0, 0)
Inserted data: ('2014-07-04', 'Virginia', 'Norfolk', '1722 Thurgood Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-07-02', 'Pennsylvania', 'Chester', '1400 block of West Congress Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-06-30', 'Kentucky', 'Lexington', 'Scottsdale Circle', 1, 3, 0, 0, 1)
Inserted data: ('2014-06-29', 'Louisiana', 'New Orleans', '700 block of Bourbon St', 1, 9, 0, 0, 1)
Inserted data: ('2014-06-29', 'Missouri', 'Saint Louis', '2800 block of Dayton', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-29', 'California', 'Los Angeles', '1100 block of North Vermont Avenue', 1, 5, 0, 0, 1)
Inserted data: ('2014-06-28', 'California', 'Antioch', '5500 Cedar Point Way', 0, 7, 0, 0, 0)
Inserted data: ('2014-06-28', 'New York', 'Manhattan', 'Fifth Avenue and West 139th Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-27', 'California', 'San Diego', '1600 block of Cathy Street', 1, 3, 0, 0, 0)
Inserted data: ('2014-06-26', 'Wisconsin', 'Milwaukee', '24th and Locust', 0, 5, 0, 0, 0)
Inserted data: ('2014-06-26', 'Michigan', 'Detroit', 'Grand St', 2, 2, 0, 0, 0)
Inserted data: ('2014-06-25', 'Massachusetts', 'Lowell', 'Midland Street', 0, 5, 0, 0, 0)
Inserted data: ('2014-06-24', 'Florida', 'Miami', 'Northwest 12th Avenue and 65th Street', 2, 7, 0, 0, 0)
Inserted data: ('2014-06-22', 'California', 'Windsor', 'Windsor Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-06-21', 'Tennessee', 'Memphis', '2119 East Alcy Road', 0, 5, 0, 0, 7)
Inserted data: ('2014-06-21', 'District of Columbia', 'Washington', 'Florida Ave NW and U St NW', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-20', 'Maryland', 'Seat Pleasant', '6600 block of Greig Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-15', 'Indiana', 'Kokomo', '5100 Clinton Drive', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-15', 'Illinois', 'Park Forest', '200 Berry Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-13', 'California', 'Los Angeles', '8600 block of South Figueroa Street', 3, 1, 0, 0, 0)
Inserted data: ('2014-06-09', 'New Jersey', 'Paterson', 'Rosa Parks Boulevard and Godwin Avenue', 0, 6, 0, 0, 0)
Inserted data: ('2014-06-08', 'Florida', 'Fort Myers', '17372 Phlox Drive', 4, 0, 1, 0, 0)
Inserted data: ('2014-06-08', 'Alabama', 'Opp', '611 Hardin Street', 1, 4, 0, 0, 1)
Inserted data: ('2014-06-07', 'South Carolina', 'Moncks Corner', 'Tish Lane', 1, 5, 0, 0, 0)
Scraping data for 2014, page 7
Inserted data: ('2014-06-07', 'Michigan', 'Oak Park', '10811 W. Ten Mile Rd.', 1, 3, 0, 0, 0)
Inserted data: ('2014-06-04', 'Illinois', 'Chicago', '4900 West West End Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-06-03', 'Georgia', 'Atlanta', 'Auburn Avenue', 1, 4, 0, 0, 1)
Inserted data: ('2014-06-02', 'Illinois', 'Chicago', '2660 E. 79th St', 0, 7, 0, 0, 0)
Inserted data: ('2014-06-01', 'California', 'Sacramento', '6500 46th Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-06-01', 'Illinois', 'Chicago', 'West Ferdinand Street and North Lavergne Avenue', 1, 5, 0, 0, 0)
Inserted data: ('2014-05-31', 'California', 'San Bernardino', '800 block of West Victoria St', 1, 3, 0, 0, 0)
Inserted data: ('2014-05-25', 'Ohio', 'Toledo', '2100 block of Joffre Avenue', 1, 3, 0, 0, 0)
Inserted data: ('2014-05-24', 'Michigan', 'Detroit', 'Strathmoor St', 0, 4, 0, 0, 0)
Inserted data: ('2014-05-24', 'South Carolina', 'Myrtle Beach', '104 N Ocean Blvd', 3, 1, 0, 0, 0)
Inserted data: ('2014-05-23', 'Louisiana', 'New Orleans', '6200 block of Eads Street', 1, 7, 0, 0, 0)
Inserted data: ('2014-05-23', 'California', 'Goleta', '840 Embarcadero del Norte', 3, 7, 1, 0, 0)
Inserted data: ('2014-05-23', 'California', 'Bellflower', '9541 Flower Street', 2, 2, 0, 0, 0)
Inserted data: ('2014-05-21', 'Texas', 'Dallas', '4515 Village Fair Pl', 1, 3, 0, 0, 0)
Inserted data: ('2014-05-18', 'Ohio', 'Sandusky', '1643 Cleveland Rd', 0, 7, 0, 0, 0)
Inserted data: ('2014-05-17', 'California', 'Coachella', '84000 block of Pedro Drive', 1, 3, 0, 0, 1)
Inserted data: ('2014-05-17', 'District of Columbia', 'Washington', '2200 block of Adams Pl NE', 0, 5, 0, 0, 0)
Inserted data: ('2014-05-13', 'Georgia', 'Atlanta', 'Panther Trail and Childress Drive', 0, 5, 0, 0, 0)
Inserted data: ('2014-05-12', 'Illinois', 'Chicago', '3400 West 24th Street', 0, 4, 0, 0, 0)
Inserted data: ('2014-05-11', 'Tennessee', 'Memphis', '2517 Shasta', 0, 7, 0, 0, 0)
Inserted data: ('2014-05-10', 'California', 'Sacramento', '3031 Guadalajara Way', 1, 6, 0, 0, 2)
Inserted data: ('2014-05-10', 'Georgia', 'Stone Mountain', '1100 To Lani Farm Road', 1, 3, 0, 0, 1)
Inserted data: ('2014-05-10', 'Georgia', 'Decatur', 'Shamrock Dr', 2, 3, 0, 0, 1)
Inserted data: ('2014-05-04', 'Colorado', 'Wheat Ridge', '12100 W 44th', 0, 4, 0, 0, 0)
Inserted data: ('2014-05-04', 'Illinois', 'Chicago', '500 West Erie Street', 1, 3, 0, 0, 0)
Scraping data for 2014, page 8
Inserted data: ('2014-05-03', 'Arkansas', 'Jonesboro', '2201 Moore Rd', 3, 4, 1, 0, 0)
Inserted data: ('2014-05-03', 'Texas', 'Houston', 'Gears Rd and Trickey Rd', 0, 6, 0, 0, 0)
Inserted data: ('2014-04-30', 'Illinois', 'Chicago', '7200 South Phillips Avenue', 0, 4, 0, 0, 0)
Inserted data: ('2014-04-29', 'Georgia', 'Kennesaw', '1675 Airport Road', 0, 6, 1, 0, 0)